name: Publish extension in Chrome Web Store

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout the repository
                uses: actions/checkout@master
                with:
                    fetch-depth: 1
            -   name: Create ZIP archive
                run: zip -r redmine2gitlab.zip * -x .* -x *.md
            -   name: Chrome Addon Action
                uses: trmcnvn/chrome-addon@v2
                with:
                    extension: iaoldkgblgoeoademdkmioofoohoklgc
                    zip: redmine2gitlab.zip
                    client-id: ${{ secrets.CHROME_CLIENT_ID }}
                    client-secret: ${{ secrets.CHROME_CLIENT_SECRET }}
                    refresh-token: ${{ secrets.CHROME_REFRESH_TOKEN }}
